<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transit 2 Page</title>
</head>
<body>
    <h1>Transit 2 Page</h1>

    <p>BUY A NEW CARD</p>

    <!-- Link to another page for buying a new card -->
    <a href="{{ url_for('buy_card_2') }}">Buy a New Card</a>

    <!-- Add more details as needed -->

    <a href="{{ url_for('welcome') }}">Back to Welcome Page</a>
</body>
</html>
